GDB=/path/to/your/geodatabase.gdb
INPUT_FC=name_of_your_input_feature_class
MANHOLE_FC=name_of_your_manhole_feature_class
POINT_FC=sewer_points_20260114_1723

#ATTRIBUTE_MODE used for obtain_adjacent_values.py - possible values: DATE, MATERIAL, OWNER
ATTRIBUTE_MODE=MATERIAL

# ADJACENCY_ROUND, LOG_FILE, and AUTHORITATIVE_DIRECTION used for assign_missing_values_from_adjacent.py
ADJACENCY_ROUND=3
LOG_FILE=log/water/water-log-file-round-3-20260129.txt
# set AUTHORITATIVE_DIRECTION = 'To' for sewer, 'From' for water or '' if not desired
AUTHORITATIVE_DIRECTION='From'