GDB=/path/to/your/geodatabase.gdb
INPUT_FC=name_of_your_input_feature_class
MANHOLE_FC=name_of_your_manhole_feature_class
#ATTRIBUTE_MODE used for assign_by_adjacency - possible values: DATE, MATERIAL, OWNER
ATTRIBUTE_MODE=DATE
ADJACENCY_ROUND=1
# ensure that log file path starts with 'log/'
LOG_FILE=log/path/to/your/file.txt
# set AUTHORITATIVE_DIRECTION = 'To' for sewer, 'From' for water or '' if not desired
AUTHORITATIVE_DIRECTION='To'